$max-w-sm: 540px;
$max-w-md: 720px;
$max-w-lg: 960px;
$max-w-xl: 1140px;
$max-w-xxl: 1320px;

.container {
  max-width: $max-w-sm;
  @media (min-width: $bp-md) {
    max-width: $max-w-md;
  }
  @media (min-width: $bp-lg) {
    max-width: $max-w-lg;
  }
  @media (min-width: $bp-xl) {
    max-width: $max-w-xl;
  }
  @media (min-width: $bp-xxl) {
    max-width: $max-w-xxl;
  }

  margin-left: auto;
  margin-right: auto;
  padding: 0 min(1.5rem, 5vw);
}

.container--fluid {
  max-width: auto;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
// specify a min-width if you want them to wrap. overwrite per project
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
