/*   Project colors  */
$color-primary: rgb(31, 41, 55);
$color-secondary: rgb(55, 65, 81);
$color-highlight: rgb(20, 184, 166);

$color-bg-primary: rgb(255, 255, 255);
$color-bg-secondary: rgb(249, 250, 251);
$color-bg-highlight: rgb(158, 198, 250);

$color-txt-dark: $color-primary;
$color-txt-light: #fff;

$color-txt-header: $color-primary;
$color-txt-body: rgb(55, 65, 81);

$color-link: $color-highlight;

/* Font Weights */
$thin: 100;
$exlight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$exbold: 800;
$black: 900;

/* breakpoints */
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;

@mixin phone {
  @media (min-width: #{$bp-sm}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$bp-md}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$bp-lg}) {
    @content;
  }
}

@mixin desktopXL {
  @media (min-width: #{$bp-xl}) {
    @content;
  }
}

@mixin desktopXXL {
  @media (min-width: #{$bp-xxl}) {
    @content;
  }
}
